services:
  db:
    image: postgres:17.7
    environment:
      - POSTGRES_PASSWORD
      - POSTGRES_USER
    ports:
      - "127.0.0.1:${POSTGRES_PORT-5432}:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 1s
      timeout: 1s
      retries: 3
